doctype html
html(lang='en')
  head
    title Chjixel
    link(rel='stylesheet' href='index.less')
    script(src='index.ts' type='module')
  body
    noscript Yeah you're gonna need JavaScript.
    canvas#display(style={ cursor: 'grab' })
    div#toolbar
      span#position -,-
      br
      span#timer -
      hr
      input#tool-none(name='tool' type='radio' value='none' checked)
      label(for='tool-none') None
      input#tool-pick(name='tool' type='radio' value='pick')
      label(for='tool-pick') Pick
      input#tool-place(name='tool' type='radio' value='place')
      label(for='tool-place') Place
      hr
      table#color-picker
        tr
          td#color-display(style={ background: 'rgb(0 0 0)' })
          th 0
          th 1
          th 2
        - for (const q of ['r', 'g', 'b'])
          tr
            th= q.toUpperCase()
            - for (const v of [0, 1, 2])
              td
                - const id =`color-${q}${v}`;
                input.color-radio(
                id=id checked=(v === 0)
                name=`color-${q}` type='radio'
                value=`${q} = ${v}`)
      hr
      table#color-selector
        - for (let y = 0; y < 6; y++)
          tr
            - for (let x = 0; x < 5; x++)
              - const i = y * 5 + x;
              - if (i >= 27) break;
              - const r = Math.floor(i / 9 % 3);
              - const g = Math.floor(i / 3 % 3);
              - const b = Math.floor(i / 1 % 3);
              - const col = `rgb(${r * 127} ${g * 127} ${b * 127})`;
              - const id = `color-${i}`
              td(style={ background: col })
                input.color-select-radio(
                id=id checked=(i === 0)
                name=`color-select` type='radio'
                value=`${r},${g},${b}`)
