#display {
    position: fixed;
    left: 0px;
    top: 0px;
}

#toolbar {
    position: fixed;
    left: 0px;
    top: 0px;

    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

td input[type='radio'] {
    width: 1rem;
    height: 1rem;
}
